docker : mysqldump: [Warning] Using a password on the command line interface can be insecure.
In C:\Users\Lena\UgH\UGH\scripts\migration\migration.ps1:225 Zeichen:5
+     docker exec ugh-db mysqldump -uuser -ppassword db --no-tablespace ...
+     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insecure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `DeletedUserBackups`
--

DROP TABLE IF EXISTS `DeletedUserBackups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeletedUserBackups` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `UserId` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `FirstName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `LastName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Gender` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `DateOfBirth` datetime(6) DEFAULT NULL,
  `Email` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Skills` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Hobbies` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Latitude` double DEFAULT NULL,
  `Longitude` double DEFAULT NULL,
  `ProfilePicture` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `DeletedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeletedUserBackups`
--

LOCK TABLES `DeletedUserBackups` WRITE;
/*!40000 ALTER TABLE `DeletedUserBackups` DISABLE KEYS */;
INSERT INTO `DeletedUserBackups` VALUES (2,'08dcd23c-d4eb-45db-87e4-73837709fada','John','Doe','Male','1992-03-20 00:00:00.000000','john@example.com',NULL,NULL,NULL,NULL,NULL,NULL,'2025-07-30 15:24:21.897798');
/*!40000 ALTER TABLE `DeletedUserBackups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accommodationsuitables`
--

DROP TABLE IF EXISTS `accommodationsuitables`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accommodationsuitables` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accommodationsuitables`
--

LOCK TABLES `accommodationsuitables` WRITE;
/*!40000 ALTER TABLE `accommodationsuitables` DISABLE KEYS */;
INSERT INTO `accommodationsuitables` VALUES (3,'Kinderfreundlich'),(4,'Hundehalter'),(5,'Alleinreisend'),(6,'Paare'),(7,'Senioren'),(8,'Gruppen'),(9,'Barrierefrei');
/*!40000 ALTER TABLE `accommodationsuitables` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `accomodations`
--

DROP TABLE IF EXISTS `accomodations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `accomodations` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `NameAccommodationType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accomodations`
--

LOCK TABLES `accomodations` WRITE;
/*!40000 ALTER TABLE `accomodations` DISABLE KEYS */;
INSERT INTO `accomodations` VALUES (1,'H????tte'),(4,'Zelt'),(5,'Wohnmobil'),(6,'Zimmer'),(7,'Bauwagen'),(8,'Tiny House'),(9,'Boot'),(10,'Baumhaus'),(11,'Scheune'),(12,'Wohnwagen'),(15,'Ferienwohnung');
/*!40000 ALTER TABLE `accomodations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `addresses`
--

DROP TABLE IF EXISTS `addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `addresses` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Latitude` double NOT NULL,
  `Longitude` double NOT NULL,
  `DisplayName` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `HouseNumber` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Road` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Suburb` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `City` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `County` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `State` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Postcode` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Country` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `CountryCode` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `OsmId` bigint DEFAULT NULL,
  `OsmType` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `PlaceId` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Type` int DEFAULT '0',
  `CreatedAt` datetime DEFAULT CURRENT_TIMESTAMP,
  `UpdatedAt` datetime DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `addresses`
--

LOCK TABLES `addresses` WRITE;
/*!40000 ALTER TABLE `addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `coupons`
--

DROP TABLE IF EXISTS `coupons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coupons` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Code` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `CreatedDate` datetime(6) NOT NULL,
  `CreatedBy` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '00000000-0000-0000-0000-000000000000',
  `Duration` int NOT NULL DEFAULT '0',
  `MembershipId` int NOT NULL DEFAULT '0',
  `IsEmailSent` tinyint(1) NOT NULL DEFAULT '0',
  `EmailSentDate` datetime DEFAULT NULL,
  `EmailSentTo` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_coupons_CreatedBy` (`CreatedBy`),
  KEY `IX_coupons_MembershipId` (`MembershipId`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coupons`
--

LOCK TABLES `coupons` WRITE;
/*!40000 ALTER TABLE `coupons` DISABLE KEYS */;
INSERT INTO `coupons` VALUES (1,'WELCOME2024','Welcome Coupon','Welcome discount for new users','2025-07-29 22:57:43.000000','18ddca8e-a8b9-48ef-8e0b-09db16414bfb',365,1,0,NULL,NULL),(2,'PREMIUM50','Premium Discount','50% off premium membership','2025-07-29 22:57:43.000000','18ddca8e-a8b9-48ef-8e0b-09db16414bfb',365,4,0,NULL,NULL);
/*!40000 ALTER TABLE `coupons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emailverificators`
--

DROP TABLE IF EXISTS `emailverificators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `emailverificators` (
  `verificationId` int NOT NULL AUTO_INCREMENT,
  `user_Id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `verificationToken` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `requestDate` datetime(6) NOT NULL,
  PRIMARY KEY (`verificationId`)
) ENGINE=InnoDB AUTO_INCREMENT=82 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emailverificators`
--

LOCK TABLES `emailverificators` WRITE;
/*!40000 ALTER TABLE `emailverificators` DISABLE KEYS */;
/*!40000 ALTER TABLE `emailverificators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `memberships`
--

DROP TABLE IF EXISTS `memberships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `memberships` (
  `MembershipID` int NOT NULL AUTO_INCREMENT,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `DurationDays` int NOT NULL,
  `IsActive` tinyint(1) NOT NULL DEFAULT '0',
  `Name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  `Price` decimal(65,30) NOT NULL DEFAULT '0.000000000000000000000000000000',
  PRIMARY KEY (`MembershipID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `memberships`
--

LOCK TABLES `memberships` WRITE;
/*!40000 ALTER TABLE `memberships` DISABLE KEYS */;
INSERT INTO `memberships` VALUES (1,'Flexible Mitgliedschaft f????r 1 Monat - perfekt zum Ausprobieren',30,1,'1 Monat',9.990000000000000000000000000000),(3,'3 Monate Mitgliedschaft mit attraktivem Rabatt',90,1,'3 Monate',24.990000000000000000000000000000),(4,'Jahresmitgliedschaft - unser beliebtestes Angebot',365,1,'1 Jahr',89.990000000000000000000000000000),(5,'3 Jahre Mitgliedschaft mit maximalem Rabatt',1095,1,'3 Jahre',239.990000000000000000000000000000),(6,'Lebenslange Mitgliedschaft - einmal zahlen, f????r immer dabei',9999,1,'Lebenslang',499.990000000000000000000000000000);
/*!40000 ALTER TABLE `memberships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offerapplication`
--

DROP TABLE IF EXISTS `offerapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offerapplication` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OfferId` int NOT NULL,
  `UserId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `HostId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Status` int NOT NULL,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_offerapplication_OfferId` (`OfferId`),
  KEY `IX_offerapplication_UserId` (`UserId`),
  KEY `IX_offerapplication_HostId` (`HostId`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offerapplication`
--

LOCK TABLES `offerapplication` WRITE;
/*!40000 ALTER TABLE `offerapplication` DISABLE KEYS */;
INSERT INTO `offerapplication` VALUES (1,1,'28ddca8e-a8b9-48ef-8e0b-09db16414bfc','08ddca8e-a8b9-48ef-8e0b-09db16414bfa',0,'2025-07-29 22:57:43.000000','2025-07-29 22:57:43.000000'),(131,126,'08ddca8e-a8b9-48ef-8e0b-09db16414bfa','08dcd23c-d4eb-45db-87e4-73837709fada',1,'2025-07-30 12:54:53.771295','2025-07-30 12:55:28.211186'),(132,131,'08dcd23c-d4eb-45db-87e4-73837709fada','08ddca8e-a8b9-48ef-8e0b-09db16414bfa',1,'2025-07-30 14:05:45.222097','2025-07-30 14:06:04.109765');
/*!40000 ALTER TABLE `offerapplication` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `offers`
--

DROP TABLE IF EXISTS `offers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `offers` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Title` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Location` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `GroupProperties` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `AdditionalLodgingProperties` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `LodgingType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Skills` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Requirements` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `SpecialConditions` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `PossibleLocations` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `UserId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `CreatedAt` date NOT NULL,
  `Discriminator` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `FromDate` date NOT NULL DEFAULT '0001-01-01',
  `GroupSize` int NOT NULL DEFAULT '0',
  `Mobility` int NOT NULL DEFAULT '0',
  `ModifiedAt` date NOT NULL DEFAULT '0001-01-01',
  `OfferType` int NOT NULL DEFAULT '0',
  `Status` int NOT NULL DEFAULT '0',
  `ToDate` date NOT NULL DEFAULT '0001-01-01',
  `AddressId` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_offers_UserId` (`UserId`)
) ENGINE=InnoDB AUTO_INCREMENT=139 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `offers`
--

LOCK TABLES `offers` WRITE;
/*!40000 ALTER TABLE `offers` DISABLE KEYS */;
/*!40000 ALTER TABLE `offers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `passwordresettokens`
--

DROP TABLE IF EXISTS `passwordresettokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `passwordresettokens` (
  `TokenId` int NOT NULL AUTO_INCREMENT,
  `user_Id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Token` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `requestDate` datetime(6) NOT NULL,
  PRIMARY KEY (`TokenId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `passwordresettokens`
--

LOCK TABLES `passwordresettokens` WRITE;
/*!40000 ALTER TABLE `passwordresettokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `passwordresettokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pictures`
--

DROP TABLE IF EXISTS `pictures`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pictures` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Hash` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Width` int NOT NULL,
  `ImageData` longblob NOT NULL,
  `UserId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `OfferId` int DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_pictures_UserId` (`UserId`),
  KEY `IX_pictures_OfferId` (`OfferId`)
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pictures`
--

LOCK TABLES `pictures` WRITE;
/*!40000 ALTER TABLE `pictures` DISABLE KEYS */;
/*!40000 ALTER TABLE `pictures` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `redemptions`
--

DROP TABLE IF EXISTS `redemptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `redemptions` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `CouponId` int NOT NULL,
  `UserId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `RedeemedDate` datetime(6) NOT NULL,
  `UserEmail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_redemptions_CouponId` (`CouponId`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `redemptions`
--

LOCK TABLES `redemptions` WRITE;
/*!40000 ALTER TABLE `redemptions` DISABLE KEYS */;
INSERT INTO `redemptions` VALUES (1,1,'08ddca8e-a8b9-48ef-8e0b-09db16414bfa','2025-07-29 22:57:43.000000','test@example.com');
/*!40000 ALTER TABLE `redemptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OfferId` int DEFAULT NULL,
  `RatingValue` int NOT NULL,
  `ReviewComment` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `CreatedAt` datetime(6) NOT NULL,
  `UpdatedAt` datetime(6) NOT NULL,
  `ReviewerId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `ReviewedId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_reviews_OfferId` (`OfferId`),
  KEY `IX_reviews_ReviewerId` (`ReviewerId`),
  KEY `IX_reviews_ReviewedId` (`ReviewedId`)
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shopitems`
--

DROP TABLE IF EXISTS `shopitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shopitems` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Duration` int NOT NULL,
  `Price_Amount` decimal(18,2) DEFAULT NULL,
  `Price_Currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shopitems`
--

LOCK TABLES `shopitems` WRITE;
/*!40000 ALTER TABLE `shopitems` DISABLE KEYS */;
/*!40000 ALTER TABLE `shopitems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skills`
--

DROP TABLE IF EXISTS `skills`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skills` (
  `Skill_ID` int NOT NULL AUTO_INCREMENT,
  `SkillDescrition` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ParentSkill_ID` int DEFAULT NULL,
  PRIMARY KEY (`Skill_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skills`
--

LOCK TABLES `skills` WRITE;
/*!40000 ALTER TABLE `skills` DISABLE KEYS */;
/*!40000 ALTER TABLE `skills` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `TransactionDate` datetime(6) NOT NULL,
  `Amount_Value` decimal(18,2) DEFAULT NULL,
  `Amount_Currency` varchar(3) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ShopItemId` int NOT NULL,
  `UserId` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `TransactionId` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Status` int NOT NULL,
  `CouponId` int DEFAULT NULL,
  `PaymentMethod` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`Id`),
  KEY `IX_transaction_ShopItemId` (`ShopItemId`),
  KEY `IX_transaction_UserId` (`UserId`),
  KEY `IX_transaction_CouponId` (`CouponId`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
INSERT INTO `transaction` VALUES (1,'2025-07-29 22:57:43.000000',0.50,'EUR',1,'08ddca8e-a8b9-48ef-8e0b-09db16414bfa','txn_test_001',1,NULL,NULL),(2,'2025-07-29 22:57:43.000000',0.50,'EUR',2,'18ddca8e-a8b9-48ef-8e0b-09db16414bfb','txn_test_002',1,NULL,NULL);
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usermembership`
--

DROP TABLE IF EXISTS `usermembership`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usermembership` (
  `UserMembershipID` int NOT NULL AUTO_INCREMENT,
  `User_Id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `MembershipID` int NOT NULL,
  `StartDate` datetime(6) NOT NULL,
  `Expiration` datetime(6) NOT NULL,
  `CreatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  `UpdatedAt` datetime(6) NOT NULL DEFAULT CURRENT_TIMESTAMP(6),
  PRIMARY KEY (`UserMembershipID`),
  KEY `IX_usermembership_User_Id` (`User_Id`),
  KEY `IX_usermembership_MembershipID` (`MembershipID`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usermembership`
--

LOCK TABLES `usermembership` WRITE;
/*!40000 ALTER TABLE `usermembership` DISABLE KEYS */;
/*!40000 ALTER TABLE `usermembership` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `userprofiles`
--

DROP TABLE IF EXISTS `userprofiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `userprofiles` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `User_Id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `UserPic` longblob,
  `Options` int NOT NULL,
  `Hobbies` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Token` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Skills` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`Id`),
  KEY `IX_userprofiles_User_Id` (`User_Id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userprofiles`
--

LOCK TABLES `userprofiles` WRITE;
/*!40000 ALTER TABLE `userprofiles` DISABLE KEYS */;
/*!40000 ALTER TABLE `userprofiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `User_Id` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `FirstName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `LastName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `DateOfBirth` date NOT NULL,
  `Gender` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `AddressId` int DEFAULT NULL,
  `Email_Address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `Password` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `SaltKey` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `IsTwoFactorEnabled` tinyint(1) NOT NULL DEFAULT '0',
  `TwoFactorSecret` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `BackupCodes` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `FailedBackupCodeAttempts` int NOT NULL DEFAULT '0',
  `LastFailedBackupCodeAttempt` datetime DEFAULT NULL,
  `IsBackupCodeLocked` tinyint(1) NOT NULL DEFAULT '0',
  `IsEmailVerified` tinyint(1) NOT NULL DEFAULT '0',
  `MembershipId` int NOT NULL DEFAULT '1',
  `Facebook_link` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Link_RS` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Link_VS` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Hobbies` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `Skills` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ProfilePicture` longblob,
  `About` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `VerificationState` int NOT NULL DEFAULT '0',
  `UserRole` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`User_Id`),
  KEY `IX_users_AddressId` (`AddressId`),
  KEY `IX_users_MembershipId` (`MembershipId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-30 19:48:37
