.vs
Backend/.vs
obj/
bin
Backend/bin
Backend/bin/Debug/net7.0/
Backend/obj
Backend/appsettings.json
#Sec Stuff
Backend/bin
Backend/obj

#Frontend
Frontend-Vuetify/package-lock.json
Frontend-Vuetify/package.json

# IntelliJ Config
/.idea/

/.docker/*/secrets/*
!/.docker/*/secrets/.*
